body {
    background-color: rgb(55, 48, 81);
    height: 100vh;
}

.container {
    border: 2px solid rgb(184, 107, 0);
    background-color: rgb(184, 107, 0);
    padding: 10px;
}

.container-1 {
    border: 2px solid rgb(146, 90, 5);
    background-color: rgb(146, 90, 5);
    padding: 10px;
}

.container-2 {
    border: 2px solid rgb(95, 95, 95);
    background-color: rgb(95, 95, 95);
    padding: 10px;
}

.container-3 {
    border: 2px solid rgb(76, 76, 76);
    background-color: rgb(76, 76, 76);
    padding: 10px;
}

.container-4 {
    border: 2px solid rgb(220, 152, 56);
    background-color: rgb(220, 152, 56);
    padding: 10px;
}

.container-5 {
    border: 2px solid rgb(168, 114, 37);
    background-color: rgb(168, 114, 37);
    padding: 10px;
}

.container-6 {
    border: 2px solid rgb(138, 138, 138);
    background-color: rgb(138, 138, 138);
    padding: 10px;
}

.grid-container{
    width: 100%;
    height: calc(100% - 16px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}