body {
    background-color: white;
    height: 100vh;
}

.container {
    border: 2px solid black;
    background-color: cyan;
    padding: 10px;
}

.grid-container{
    width: 100%;
    height: calc(100% - 16px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "header header ."
        ". main ."
        ". main ."
        ". main ."

}

#grid-item-1{
    grid-area: header;
}

#grid-item-2{
    grid-row: 2 / span 3;
    grid-column: 2;
}