body {
    background-color: rgb(55, 48, 81);
    height: 100vh;
}

.container {
    border: 2px solid rgb(184, 107, 0);
    background-color: rgb(184, 107, 0);
    padding: 10px;
}

.container-1 {
    border: 2px solid rgb(186, 186, 186);
    background-color: rgb(186, 186, 186);
    padding: 10px;
}

.container-2 {
    border: 2px solid rgb(145, 151, 151);
    background-color: rgb(145, 151, 151);
    padding: 10px;
}

.container-3 {
    border: 2px solid rgb(93, 92, 92);
    background-color: rgb(93, 92, 92);
    padding: 10px;
}

.container-4 {
    border: 2px solid rgb(220, 152, 56);
    background-color: rgb(220, 152, 56);
    padding: 10px;
}

.grid-container{
    width: 100%;
    height: calc(100% - 16px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 10px;
    grid-template-areas: 
        "header header header header header header2 header2 header2 header2"
        "main main main main main mainCero mainCero mainCero mainCero"
        "main main main main main mainCero mainCero mainCero mainCero"
}

.grid-container-2{
    height: calc(100% - 26px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    grid-template-areas: 
        "header header"
        "main mainCero"
}

#grid-item-1{
    grid-area: header;
}

#grid-item-2{
    grid-area: header2;
}

#grid-item-3{
    grid-area: main;
} 

#grid-item-4{
    grid-area: footer;
} 

#grid-item-5{
    grid-area: mainCero;
} 